html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
}

.no-break {
  white-space: nowrap;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

button,
input {
  border: none;
}

a,
body,
h1,
h2,
h3,
li,
nav,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-size: 3.9rem;
  letter-spacing: 1.9px;
  line-height: 30px;
  font-family: "Chathura", sans-serif;
  font-weight: 400;
  background: #111010;
  color: #FFFFFF;
}

a {
  font-size: 3.8rem;
  line-height: 29px;
  letter-spacing: 1.9px;
  font-family: "Chathura", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
}

a:hover,
a:focus {
  transform: scale(1.2);
}

a.page-selected {
  color: #FF8327;
}

a.button-link {
  font-family: "Tulpen One", cursive;
  padding: 10px 20px;
  background: #BF2603;
  font-weight: 400;
  text-transform: capitalize;
  display: inline-block;
}

header {
  height: 100vh;
  padding-top: 40px;
}

header ul {
  display: flex;
  justify-content: center;
}

header ul li {
  margin: 0 20px;
}

header ul li a {
  padding: 5px 10px;
}

header ul .logo {
  font-size: 5rem;
  font-family: "Tulpen One", cursive;
}

header.home-page {
  background-image: url(../../assets/home-image-1.jpg);
  background-size: cover;
  position: relative;
  padding-bottom: 80px;
}

header.home-page .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header.home-page .wrapper .title-container {
  z-index: 10;
}

header.home-page .wrapper .title-container h1 {
  font-family: "Tulpen One", cursive;
  font-size: 26.14rem;
  font-weight: 400;
  line-height: 150px;
  letter-spacing: 2.4px;
  color: #FF8327;
  position: relative;
  left: -5px;
}

header.home-page .wrapper .title-container h2 {
  font-size: 8.32rem;
  line-height: 94.7px;
  letter-spacing: 2.6px;
}

header.home-page .header-image-container {
  position: absolute;
  width: 50%;
  right: 0;
  bottom: calc((-75/10 * 1rem) + (100vw - (941*1px))*((-125 - -75)/(1600 - 941)));
  z-index: 1;
}

header.blog-page,
header.contact-page {
  height: 50vh;
  background-image: url(../../assets/blog-header-1.jpg);
  background-size: contain;
}

header.blog-page .wrapper,
header.contact-page .wrapper {
  height: calc(100% - 40px);
}

header.blog-page .wrapper .title-container,
header.contact-page .wrapper .title-container {
  height: 100%;
  display: flex;
  align-items: center;
}

header.blog-page .wrapper .title-container h1,
header.contact-page .wrapper .title-container h1 {
  font-size: 10rem;
  line-height: 1;
}

header.contact-page {
  background-image: url(../../assets/contact-header-1.jpg);
}

.about {
  margin-top: calc((75/10 * 1rem) + (100vw - (941*1px))*((125 - 75)/(1600 - 941)));
  padding-top: 80px;
  padding-bottom: 140px;
}

.about .wrapper {
  display: flex;
  flex-wrap: wrap;
}

.about .wrapper .about-content {
  margin-right: 10px;
  margin-bottom: 40px;
  width: calc((100% - 10px)/2);
  display: flex;
}

.about .wrapper .about-content .icon-container {
  width: 45px;
  height: 45px;
  margin-right: 15px;
  background: #BF2603;
  border-radius: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  transform: translateY(-20%);
}

.about .wrapper .about-content .icon-container .fas {
  transform: scale(0.6);
  position: relative;
  left: 1px;
}

.about .wrapper .about-content .icon-container .fa-file {
  left: 2px;
}

.about .wrapper .about-content .about-info-container {
  width: calc(100% - 60px);
}

.about .wrapper .about-content .about-info-container h3 {
  margin-bottom: 10px;
}

.about .wrapper .community,
.about .wrapper .get-in-touch {
  margin-right: 0;
}

.articles {
  background: #220303;
}

.articles .wrapper {
  display: flex;
}

.articles .wrapper article {
  width: calc((100% - (100px +(100vw - 941px)*((225 - 100)/(1600 - 941))))/2);
  margin-right: calc((100/10 * 1rem) + (100vw - (941*1px))*((225 - 100)/(1600 - 941)));
}

.articles .wrapper article .article-image {
  position: relative;
  width: calc((50vw - ((100px +(100vw - 941px)*((225 - 100)/(1600 - 941)))/2)));
}

.articles .wrapper article .article-info {
  margin-top: 100px;
  margin-bottom: 80px;
}

.articles .wrapper article .article-info p {
  margin-top: 20px;
  margin-bottom: 30px;
}

.articles .wrapper .new-locations {
  text-align: right;
}

.articles .wrapper .new-locations .article-image {
  top: -30px;
  left: -10vw;
  box-shadow: 20px 20px #FF8327;
}

.articles .wrapper .new-locations p {
  text-align: left;
}

.articles .wrapper .plan-ahead {
  margin-right: 0;
}

.articles .wrapper .plan-ahead .article-image {
  bottom: -30px;
  box-shadow: -20px 20px #FF8327;
}

.party-hosting {
  padding-top: calc((100/10 * 1rem) + (100vw - (941*1px))*((200 - 100)/(1600 - 941)));
  padding-bottom: calc((70/10 * 1rem) + (100vw - (941*1px))*((140 - 70)/(1600 - 941)));
  display: flex;
}

.party-hosting .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.party-hosting .wrapper h2 {
  color: #FF8327;
}

.party-hosting .wrapper p {
  margin: 40px auto;
  text-align: center;
  max-width: 1057px;
}

.events {
  padding-top: 120px;
  padding-bottom: 70px;
}

.events .wrapper {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.events .wrapper .events-image {
  width: 28%;
  box-shadow: -20px 20px #FF8327;
  position: absolute;
  top: 0;
  left: 0;
}

.events .wrapper .events-space-holder {
  width: 28%;
  margin-right: calc((30/10 * 1rem) + (100vw - (941*1px))*((70 - 30)/(1600 - 941)));
  visibility: hidden;
}

.events .wrapper article {
  width: calc(72% - (30px + (100vw - 941px)*((70 - 30)/(1600 - 941))));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.events .wrapper article h2 {
  color: #FF8327;
}

.events .wrapper article p {
  margin: 40px 0;
  position: relative;
  bottom: calc((0/10 * 1rem) + (100vw - (941*1px))*((-10 - 0)/(1600 - 941)));
}

.events .wrapper article a {
  position: relative;
  bottom: calc((0/10 * 1rem) + (100vw - (941*1px))*((-20 - 0)/(1600 - 941)));
}

@media (min-width: 1600px) {
  .articles .wrapper article {
    width: calc((100% - 225px)/2);
    margin-right: 225px;
  }
  .articles .wrapper article .article-image {
    width: calc(50vw - (225px/2));
  }
  .articles .wrapper .new-locations .article-image {
    left: calc((100vw - 1280px) / -2);
  }
  .party-hosting {
    padding-top: 200px;
    padding-bottom: 140px;
  }
}
