html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
}

.no-break {
  white-space: nowrap;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

button,
input {
  border: none;
}

a,
body,
h1,
h2,
h3,
li,
nav,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-size: 3.9rem;
  letter-spacing: 1.9px;
  line-height: 30px;
  font-family: "Chathura", sans-serif;
  font-weight: 400;
  background: #111010;
  color: #FFFFFF;
}

a {
  font-size: 3.8rem;
  line-height: 29px;
  letter-spacing: 1.9px;
  font-family: "Chathura", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: transform 0.3s linear;
}

a:hover,
a:focus,
button:hover,
button:focus {
  transform: scale(1.05);
}

a.page-selected {
  color: #FF8327;
}

a.button-link {
  font-family: "Tulpen One", cursive;
  padding: 10px 20px;
  background: #BF2603;
  font-weight: 400;
  text-transform: capitalize;
  display: inline-block;
}

button {
  font-family: "Tulpen One", cursive;
  background: #BF2603;
  color: white;
  padding: 5px 20px;
  transition: transform 0.3s linear;
}

input {
  width: 100%;
}

textarea {
  font-family: "Chathura", sans-serif;
}

@media (max-width: 940px) {
  .wrapper {
    width: 85%;
  }
}

header {
  height: 100vh;
  padding-top: 40px;
}

header ul {
  display: flex;
  justify-content: center;
}

header li {
  margin: 0 20px;
}

header li a {
  padding: 5px 10px;
}

header .logo {
  font-size: 5rem;
  font-family: "Tulpen One", cursive;
}

header.home-page {
  background-image: url(../../assets/home-image-1.jpg);
  background-size: cover;
  position: relative;
  padding-bottom: 80px;
}

header.home-page .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.home-title-container {
  z-index: 10;
}

.home-title-container h1 {
  font-family: "Tulpen One", cursive;
  font-size: 26.14rem;
  font-weight: 400;
  line-height: 150px;
  letter-spacing: 2.4px;
  color: #FF8327;
  position: relative;
  left: -5px;
}

.home-title-container h2 {
  font-size: 8.32rem;
  line-height: 94.7px;
  letter-spacing: 2.6px;
}

.home-header-image-container {
  position: absolute;
  width: 50%;
  max-width: 1000px;
  right: 0;
  bottom: -125px;
  z-index: 1;
}

header.blog-page,
header.contact-page {
  background-image: url(../../assets/blog-header-1.jpg);
  background-size: cover;
}

header.blog-page .wrapper,
header.contact-page .wrapper {
  height: calc(100% - 40px);
}

.blog-title-container,
.contact-title-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.blog-title-container h1,
.contact-title-container h1 {
  font-size: 10rem;
  line-height: 1;
}

header.contact-page {
  background-image: url(../../assets/contact-header-1.jpg);
}

@media (max-width: 1600px) {
  .home-header-image-container {
    bottom: calc((-75/10 * 1rem) + (100vw - (941*1px))*((-125 - -75)/(1600 - 941)));
  }
}

@media (max-width: 940px) {
  header li {
    margin-left: calc((15/10 * 1rem) + (100vw - (769*1px))*((20 - 15)/(940 - 769)));
    margin-right: calc((15/10 * 1rem) + (100vw - (769*1px))*((20 - 15)/(940 - 769)));
  }
}

.about {
  margin-top: 125px;
  padding-top: 80px;
  padding-bottom: 140px;
}

.about .wrapper {
  display: flex;
  flex-wrap: wrap;
}

.about-content {
  margin-right: 10px;
  margin-bottom: 40px;
  width: calc((100% - 10px)/2);
  display: flex;
}

.about-content .icon-container {
  width: 45px;
  height: 45px;
  margin-right: 15px;
  background: #BF2603;
  border-radius: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  transform: translateY(-20%);
}

.about-content .icon-container .fas {
  transform: scale(0.6);
  position: relative;
  left: 1px;
}

.about-content .icon-container .fa-file {
  left: 2px;
}

.about-content .about-info-container {
  width: calc(100% - 60px);
}

.about-content .about-info-container h3 {
  margin-bottom: 10px;
}

.community,
.get-in-touch {
  margin-right: 0;
}

.articles {
  background: #220303;
}

.articles .wrapper {
  display: flex;
}

.articles .wrapper article {
  width: calc((100% - 225px)/2);
  margin-right: 225px;
}

.article-image {
  position: relative;
  width: calc(50vw - (225px/2));
}

.article-info {
  margin-top: 100px;
  margin-bottom: 80px;
}

.article-info p {
  margin-top: 20px;
  margin-bottom: 30px;
}

.new-locations {
  text-align: right;
}

.new-locations .article-image {
  top: -30px;
  left: calc((100vw - 1280px) / -2);
  box-shadow: 20px 20px #FF8327;
}

.new-locations p {
  text-align: left;
}

.plan-ahead {
  margin-right: 0;
}

.plan-ahead .article-image {
  bottom: -30px;
  box-shadow: -20px 20px #FF8327;
}

.party-hosting {
  padding-top: 200px;
  padding-bottom: 140px;
  display: flex;
}

.party-hosting .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.party-hosting .wrapper h2 {
  color: #FF8327;
}

.party-hosting .wrapper p {
  margin: 40px auto;
  text-align: center;
  max-width: 1057px;
}

.events {
  padding-top: 120px;
  padding-bottom: 70px;
}

.events .wrapper {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.events .wrapper .events-image {
  width: 28%;
  box-shadow: -20px 20px #FF8327;
  position: absolute;
  top: 0;
  left: 20px;
}

.events .wrapper .events-space-holder {
  width: 28%;
  margin-right: 70px;
  visibility: hidden;
}

.home-events-article {
  width: calc(72% - 70px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.home-events-article h2 {
  color: #FF8327;
}

.home-events-article p {
  margin: 40px 0;
  position: relative;
  bottom: -10px;
}

.home-events-article a {
  position: relative;
  bottom: -20px;
}

.gallery {
  background: #220303;
  padding: 100px 0;
}

.gallery ul {
  display: flex;
}

.gallery ul li {
  width: calc((100% - 80px) / 3);
  margin-right: 40px;
}

.gallery ul li:last-child {
  margin-right: 0;
}

@media (max-width: 1600px) {
  .about {
    margin-top: calc((75/10 * 1rem) + (100vw - (941*1px))*((125 - 75)/(1600 - 941)));
  }
  .articles .wrapper article {
    width: calc((100% - (100px +(100vw - 941px)*((225 - 100)/(1600 - 941))))/2);
    margin-right: calc((100/10 * 1rem) + (100vw - (941*1px))*((225 - 100)/(1600 - 941)));
  }
  .article-image {
    width: calc((50vw - ((100px +(100vw - 941px)*((225 - 100)/(1600 - 941)))/2)));
  }
  .new-locations .article-image {
    left: -10vw;
  }
  .party-hosting {
    padding-top: calc((100/10 * 1rem) + (100vw - (941*1px))*((200 - 100)/(1600 - 941)));
    padding-bottom: calc((70/10 * 1rem) + (100vw - (941*1px))*((140 - 70)/(1600 - 941)));
  }
  .events .wrapper .events-image {
    box-shadow: -15px 15px #FF8327;
    left: 15px;
  }
  .events .wrapper .events-space-holder {
    margin-right: calc((40/10 * 1rem) + (100vw - (941*1px))*((70 - 40)/(1600 - 941)));
  }
  .home-events-article {
    width: calc(72% - (40px + (100vw - 941px)*((70 - 40)/(1600 - 941))));
  }
  .home-events-article p {
    bottom: calc((0/10 * 1rem) + (100vw - (941*1px))*((-7.5 - 0)/(1600 - 941)));
  }
  .home-events-article a {
    bottom: calc((0/10 * 1rem) + (100vw - (941*1px))*((-15 - 0)/(1600 - 941)));
  }
  .gallery {
    padding-top: calc((50/10 * 1rem) + (100vw - (941*1px))*((100 - 50)/(1600 - 941)));
    padding-bottom: calc((50/10 * 1rem) + (100vw - (941*1px))*((100 - 50)/(1600 - 941)));
  }
  .gallery ul li {
    width: calc((100% - ((30px + (100vw - 941px)*((80 - 20)/(1600 - 941))))/3));
    margin-right: calc((15/10 * 1rem) + (100vw - (941*1px))*((40 - 15)/(1600 - 941)));
  }
}

@media (max-width: 940px) {
  .article-info {
    margin-top: calc((50/10 * 1rem) + (100vw - (769*1px))*((100 - 50)/(940 - 769)));
    margin-bottom: calc((40/10 * 1rem) + (100vw - (769*1px))*((80 - 40)/(940 - 769)));
  }
  .new-locations .article-image {
    left: -7.5vw;
  }
  .events {
    padding-top: calc((60/10 * 1rem) + (100vw - (769*1px))*((120 - 60)/(940 - 769)));
    padding-bottom: calc((45/10 * 1rem) + (100vw - (769*1px))*((70 - 45)/(940 - 769)));
  }
  .events .wrapper {
    flex-direction: column;
    align-items: center;
  }
  .events .wrapper .events-image {
    width: 50%;
    position: relative;
    left: 0;
  }
  .events .wrapper .events-space-holder {
    display: none;
  }
  .home-events-article {
    width: 90%;
  }
  .gallery ul {
    justify-content: space-between;
  }
  .gallery ul li {
    width: calc((100% - 40px) / 2);
    margin: 0;
  }
  .gallery ul li:last-child {
    display: none;
  }
}

.main-blog-container {
  padding-top: 100px;
  display: flex;
  align-items: flex-start;
}

.blog-aside {
  background: #220303;
  width: calc(35% - 60px);
  padding: 20px;
  margin-right: 60px;
}

.blog-aside .sidebar-image {
  position: relative;
  top: -40px;
  left: calc(((100vw - 1280px) / -2) - 20px);
  width: calc(100% + 40px - 20px + ((100vw - 1280px) / 2));
  overflow: hidden;
}

.blog-aside .sidebar-image img {
  transform: scale(1.01);
}

.mission {
  margin: -20px 0 40px 0;
}

.mission p {
  margin-top: 10px;
}

.mission a {
  color: #FF8327;
  text-transform: none;
}

.mission a:hover, .mission a:focus {
  transform: scale(1.03);
}

.blog-list-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.blog-list-container ul {
  width: 278px;
}

.blog-list-container ul li {
  position: relative;
}

.blog-list-container ul li::before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #BF2603;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -20px;
}

.post {
  width: 70%;
  position: relative;
  top: -220px;
}

.post .post-image {
  box-shadow: -20px 20px #FF8327;
  position: relative;
  left: 20px;
  width: calc(100% - 20px + ((100vw - 1280px) / 2));
}

.post article {
  position: relative;
  padding: 80px 0 80px 80px;
  border-left: 5px solid #FF8327;
}

.post article::after {
  content: '';
  width: calc(100% + ((100vw - 1280px) / 2));
  height: 5px;
  background: #FF8327;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}

.post article h2 {
  margin-bottom: 10px;
}

.post article h3 {
  font-size: 3.9rem;
  color: #FF8327;
}

.post article p {
  margin-top: 30px;
}

.comments {
  padding: 50px 0 60px 0;
  margin-bottom: -220px;
}

.comments h2,
.comments .comment {
  margin-left: 75px;
}

.comments h2 {
  margin-bottom: 40px;
}

.comment {
  display: flex;
}

.comment .comment-image {
  width: 75px;
}

.comment .comment-content {
  margin-left: 30px;
  width: calc(100% - 75px - 30px);
}

.comment .comment-content h3 {
  line-height: 20px;
  color: #FF8327;
  font-size: 3.9rem;
}

.comment:first-of-type {
  margin-bottom: 60px;
}

.comment:last-of-type {
  margin-bottom: 40px;
}

.comment-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 35px;
}

.comment-form .comment-name,
.comment-form .comment-email {
  width: calc((100% - 40px) / 2);
}

.comment-form .comment-name label,
.comment-form .comment-email label {
  margin-left: 40px;
}

.comment-form .comment-name input,
.comment-form .comment-email input {
  background: #111010;
  border-bottom: 2px solid #FF8327;
  color: #FFFFFF;
  font-size: 3.9rem;
  font-family: "Chathura", sans-serif;
  height: 40px;
}

.comment-form textarea,
.comment-form button {
  width: 100%;
}

.comment-form textarea {
  resize: none;
  background: #111010;
  font-size: 3.9rem;
  color: #FFFFFF;
  padding-top: 30px;
  padding-left: 40px;
  margin: 35px 0;
  border: 2px solid #FF8327;
}

@media (max-width: 1600px) {
  .blog-aside {
    width: calc((299/10 * 1rem) + (100vw - (941*1px))*((368 - 299)/(1600 - 941)));
    margin-right: calc((40/10 * 1rem) + (100vw - (941*1px))*((60 - 40)/(1600 - 941)));
    padding: calc((10/10 * 1rem) + (100vw - (941*1px))*((20 - 10)/(1600 - 941)));
  }
  .blog-aside .sidebar-image {
    left: calc(((100vw - 80vw) / -2) - 20px);
    width: calc(100% + 40px - 20px + ((100vw - 80vw) / 2));
  }
  .mission {
    margin-bottom: 20px;
    margin-bottom: calc((20/10 * 1rem) + (100vw - (941*1px))*((40 - 20)/(1600 - 941)));
  }
  .blog-list-container ul {
    font-size: calc((35/10 * 1rem) + (100vw - (941*1px))*((39 - 35)/(1600 - 941)));
    width: calc((256/10 * 1rem) + (100vw - (941*1px))*((278 - 256)/(1600 - 941)));
  }
  .blog-list-container ul li::before {
    left: -15px;
    width: 6px;
    height: 6px;
  }
  .post {
    width: calc((414/10 * 1rem) + (100vw - (941*1px))*((832 - 414)/(1600 - 941)));
  }
  .post .post-image {
    width: calc(100% + 10vw);
  }
  .post article {
    padding-left: calc((40/10 * 1rem) + (100vw - (941*1px))*((80 - 40)/(1600 - 941)));
  }
  .post article::after {
    width: calc(100% + 10vw + 20px);
  }
  .comments h2,
  .comments .comment {
    margin-left: calc((20/10 * 1rem) + (100vw - (941*1px))*((75 - 20)/(1600 - 941)));
  }
  .comment-form {
    margin-left: calc((0/10 * 1rem) + (100vw - (941*1px))*((35 - 0)/(1600 - 941)));
  }
  .comment-form .name label,
  .comment-form .email label {
    margin-left: calc((0/10 * 1rem) + (100vw - (941*1px))*((40 - 0)/(1600 - 941)));
  }
}

.main-contact-container .wrapper {
  display: flex;
}

.contact-info {
  width: 25%;
  margin-top: 100px;
}

.contact-info p:first-of-type {
  margin-bottom: 15px;
}

.social-icons {
  display: flex;
  margin-bottom: 5px;
}

.social-icons li {
  margin-right: 10px;
}

.social-icons li a {
  font-size: 2.4rem;
  padding: 5px;
}

.contact-us {
  width: 75%;
  background: #220303;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 20px 20px #FF8327;
  position: relative;
  top: -150px;
  right: calc((100vw - 1280px) / -4);
}

.contact-us .contact-name,
.contact-us .contact-email {
  width: calc((100% - 20px) / 2);
  margin-top: 20px;
}

.contact-us .contact-name label,
.contact-us .contact-email label {
  margin-left: 20px;
}

.contact-us .contact-name input,
.contact-us .contact-email input {
  background: #220303;
  border-bottom: 2px solid #FFFFFF;
  height: 30px;
  margin-top: 10px;
  color: #FFFFFF;
  font-family: "Chathura", sans-serif;
}

.contact-us textarea {
  width: 100%;
  height: 250px;
  resize: none;
  margin: 40px 0;
  background: #220303;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  padding: 20px;
}

.contact-us button {
  width: 100%;
  line-height: 1;
}

@media (max-width: 1600px) {
  .contact-info p {
    font-size: calc((36/10 * 1rem) + (100vw - (941*1px))*((39 - 36)/(1600 - 941)));
  }
  .contact-us {
    right: -5vw;
  }
}

footer {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2c2c2c;
}

footer a {
  display: inline-block;
}

footer a:hover, footer a:focus {
  transform: scale(1.05);
}
