/////////////////
//global styles//
/////////////////

//general styles
html {
    font-size: 62.5%;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.wrapper {
    max-width: 1280px;
    width: 80%;
    margin: 0 auto;
}

.no-break {
    white-space: nowrap;
}

//stripping styles
ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: block;
}

button,
input {
    border: none;
}

a,
body,
h1,
h2,
h3,
li,
nav,
p,
ul {
    margin: 0;
    padding: 0;
}

//typographic styles
body {
    font-size: 3.9rem;
    letter-spacing: 1.9px;
    line-height: 30px;
    font-family: $font-primary;
    font-weight: 400;
    background: $black;
    color: $primary;
}

a {
    font-size: 3.8rem;
    line-height: 29px;
    letter-spacing: 1.9px;
    font-family: $font-primary;
    font-weight: 700;
    text-transform: uppercase;
    color: $primary;
}

a:hover,
a:focus {
    transform: scale(1.2);
}

a.page-selected {
    color: $secondary;
}

