/////////////////////////
//blog-page main styles//
/////////////////////////

//main
.main-blog-container {
    padding-top: 100px;
    display: flex;
    align-items: flex-start;
    
//aside
    aside {
        background: $dark-red;
        width: calc(35% - 80px);
        padding: 20px;
        margin-right: 80px;

        .sidebar-image {
            position: relative;
            top: - 40px;
            left: calc(((100vw - 1280px) / -2) - 20px);
            width: calc(100% + 40px - 20px + ((100vw - 1280px) / 2));
            overflow: hidden;

            img {
                transform: scale(1.01);
            }
        }

        .mission {
            margin: -20px 0 40px 0;

            p {
                margin-top: 10px;
            }

            a {
                color: $secondary;
                text-transform: none;
            }

            a:hover,
            a:focus {
                transform: scale(1.03);
            }
        }

        .recent-posts {

            .list-container {
                margin-top: 10px;
                display: flex;
                justify-content: center;

                ul {
                    width: 278px;

                    li {
                        position: relative;
                    }

                    li::before {
                        content : '';
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        background: $rust-red;
                        display: block;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: -20px;
                    }
                }
            }
        }
    }

//post section
    .post {
        width: 65%;
    }
}

////////////////////////////////
//blog-page main media queries//
////////////////////////////////

//blog-page DESKTOP @ wrapper stop width//
@media (max-width: 1600px) {
    .main-blog-container {

        aside {
            @include variable-width(299, 941, 368, 1600);
            @include variable-margin-right(40, 941, 80, 1600);
            @include variable-padding(10, 941, 20, 1600);

            .sidebar-image {
                left: calc(((100vw - 80vw) / -2) - 20px);
                width: calc(100% + 40px - 20px + ((100vw - 80vw) / 2));
            }

            .mission {
                margin-bottom: 20px;
                @include variable-margin-bottom(20, 941, 40, 1600);
            }

            .recent-posts {

                .list-container {
    
                    ul {
                        font-size: 3.5rem;
                        @include variable-font-size(35, 941, 39, 1600);
                        @include variable-width(256, 941, 278, 1600);

                        li::before {
                            left: -15px;
                            width: 6px;
                            height: 6px;
                        }
                    }
                }
                
            }
        }

        .post {
            @include variable-width(414, 941, 832, 1600);
        }
    }
}





            