/////////////////////////
//home-page main styles//
/////////////////////////

//about-section
.about {
    margin-top: 125px;
    padding-top: 80px;
    padding-bottom: 140px;

    .wrapper {
        display: flex;
        flex-wrap: wrap;
    }   
}

.about-content {
    margin-right: 10px;
    margin-bottom: 40px;
    width: calc((100% - 10px)/2);
    display:flex;

    .icon-container {
        width: 45px;
        height: 45px;
        margin-right: 15px;
        background: $rust-red;
        border-radius: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        transform: translateY(-20%);

        .fas {
            transform: scale(0.6);
            position: relative;
            left: 1px;
        }

        .fa-file {
            left: 2px;
        }
    }

    .about-info-container {
        width: calc(100% - 60px);

        h3 {
            margin-bottom: 10px;
        }
    }
}

.community,
.get-in-touch {
    margin-right: 0;
}

//articles section
.articles {
    background: $dark-red;

    .wrapper {
        display: flex;

        article {
            width: calc((100% - 225px)/2);
            margin-right: 225px;
        }
    }
}

.article-image {
    position:relative;
    width: calc(50vw - (225px/2));
}

.article-info {
    margin-top: 100px;
    margin-bottom: 80px;

    p {
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

.new-locations {
    text-align: right;

    .article-image {
        top: -30px;
        
        left: calc((100vw - 1280px) / -2);
        box-shadow: 20px 20px $secondary;
    }

    p {
        text-align: left;
    }
}

.plan-ahead {
    margin-right: 0;

    .article-image {
        bottom: -30px;
        box-shadow: -20px 20px $secondary;
    }
}

//party-hosting section
.party-hosting {
    padding-top: 200px;
    padding-bottom: 140px;
    display: flex;
    
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            color: $secondary;
        }

        p {
            margin: 40px auto;
            text-align: center;
            max-width: 1057px;
            
        }
    }
}

//events section
.events {
    padding-top: 120px;
    padding-bottom: 70px;

    .wrapper {
        display: flex;
        justify-content: flex-end;
        position: relative;
        
        .events-image {
            width: 28%;
            box-shadow:-20px 20px $secondary;
            position: absolute;
            top: 0;
            left: 20px;
        }

        .events-space-holder {
            width: 28%;
            margin-right: 70px;
            visibility: hidden;
        }
    }
}

.home-events-article {
    width: calc(72% - 70px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    
    h2 {
        color: $secondary;
    }

    p {
        margin: 40px 0;
        position: relative;
        bottom: -10px;
    }

    a {
        position: relative;
        bottom: -20px;
    }
}

//gallery section
.gallery {
    background: $dark-red;
    padding: 100px 0;

    ul {
        display: flex;

        li {
            width: calc((100% - 80px) / 3);
            margin-right: 40px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

////////////////////////////////
//home-page main media queries//
////////////////////////////////

//home-page DESKTOP @ wrapper stop width//
@media (max-width: 1600px) {

    //about section max 1600px
    .about {
        @include variable-margin-top(75, 941, 125, 1600);
    }

    .articles .wrapper article {
        width: calc((100% - (100px +(100vw - 941px)*((225 - 100)/(1600 - 941))))/2);
        @include variable-margin-right(100, 941, 225, 1600);
    }

    .article-image {
        width: calc((50vw - ((100px +(100vw - 941px)*((225 - 100)/(1600 - 941)))/2)));
        
    }

    .new-locations {

        .article-image {
            left:-10vw;
        }
    }

    .party-hosting {
        @include variable-padding-top(100, 941, 200, 1600);
        @include variable-padding-bottom(70, 941, 140, 1600);
    }

    .events {

        .wrapper {

            .events-image {
                box-shadow: -15px 15px $secondary;
                left: 15px;
            }

            .events-space-holder {
                @include variable-margin-right(40, 941, 70, 1600);
            }
        }
    }

    .home-events-article {
        width: calc(72% - (40px + (100vw - 941px)*((70 - 40)/(1600 - 941))));

        p {
            @include variable-bottom-position(0, 941, -7.5, 1600);
        }

        a {
            @include variable-bottom-position(0, 941, -15, 1600);
        }
    }

    .gallery {
        @include variable-padding-top(50, 941, 100, 1600);
        @include variable-padding-bottom(50, 941, 100, 1600);

        ul li {
            width: calc((100% - ((30px + (100vw - 941px)*((80 - 20)/(1600 - 941))))/3));
            @include variable-margin-right(15, 941, 40, 1600);
        }
    }
}

//home-page PORTRAIT TABLAIT - SMALL DESKTOPS//
@media (max-width: 940px) {
    .article-info {
        @include variable-margin-top(50, 769, 100, 940);
        @include variable-margin-bottom(40, 769, 80, 940);
    }

    .new-locations .article-image {
        left:-7.5vw;
    }

    .events {
        @include variable-padding-top(60, 769, 120, 940);
        @include variable-padding-bottom(45, 769, 70, 940);

        .wrapper {
            flex-direction: column;
            align-items: center;

            .events-image {
                width: 50%;
                position: relative;
                left:0;
            }

            .events-space-holder {
                display: none;
            }
        }
    }

    .home-events-article {
        width:90%;
    }

    .gallery ul {
        justify-content: space-between;

        li {
            width: calc((100% - 40px) / 2);
            margin: 0;

            &:last-child {
                display: none;
            }
        }
    }
}

//home-page LANDSCAPE PHONE - PORTRAIT TABLET//
@media (max-width: 768px) {

}

//home-page PORTRAIT PHONES - SOME LANDSCAPE PHONES//
@media (max-width: 480px) {

}