///////////////
//main styles//
///////////////

//home-page styles
.about {
    @include variable-margin-top(75, 941, 125, 1600);
    padding-top: 80px;
    padding-bottom: 160px;

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        
        .about-content {
            margin-right: 10px;
            margin-bottom: 40px;
            width: calc((100% - 10px)/2);
            display:flex;

            .icon-container {
                width: 45px;
                height: 45px;
                margin-right: 15px;
                background: $rust-red;
                border-radius: 50%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                position: relative;
                transform: translateY(-20%);
    
                .fas {
                    transform: scale(0.6);
                    position: relative;
                    left: 1px;
                }
    
                .fa-file {
                    left: 2px;
                }
            }

            .about-info-container {
                width: calc(100% - 60px);

                h3 {
                    margin-bottom: 10px;
                }
            }
        }

        .community,
        .get-in-touch {
            margin-right: 0;
        }
        
    }   
}

.articles {
    background: $dark-red;
}
