///////////////
// variables //
///////////////

// color palette
$primary: #FFFFFF;
$secondary: #FF8327;
$black: #111010;
$dark-red: #220303;
$rust-red: #BF2603;
$footer-grey: #2c2c2c;

// font family
$font-primary: "Chathura", sans-serif;
$font-secondary: "Tulpen One", cursive;


////////////
// mixins //
////////////

//variable font size
@mixin variable-font-size($start-font-size, $start-screen-width, $end-font-size, $end-screen-width) {
    font-size: calc((#{$start-font-size}/10 * 1rem) + (100vw - (#{$start-screen-width}*1px))*((#{$end-font-size} - #{$start-font-size})/(#{$end-screen-width} - #{$start-screen-width})));
}

//variable bottom position
@mixin variable-bottom-position($start-font-size, $start-screen-width, $end-font-size, $end-screen-width) {
    bottom: calc((#{$start-font-size}/10 * 1rem) + (100vw - (#{$start-screen-width}*1px))*((#{$end-font-size} - #{$start-font-size})/(#{$end-screen-width} - #{$start-screen-width})));
}

//variable margin-top
@mixin variable-margin-top($start-font-size, $start-screen-width, $end-font-size, $end-screen-width) {
    margin-top: calc((#{$start-font-size}/10 * 1rem) + (100vw - (#{$start-screen-width}*1px))*((#{$end-font-size} - #{$start-font-size})/(#{$end-screen-width} - #{$start-screen-width})));
}

//variable margin-right
@mixin variable-margin-right($start-font-size, $start-screen-width, $end-font-size, $end-screen-width) {
    margin-right: calc((#{$start-font-size}/10 * 1rem) + (100vw - (#{$start-screen-width}*1px))*((#{$end-font-size} - #{$start-font-size})/(#{$end-screen-width} - #{$start-screen-width})));
}

//variable margin-left
@mixin variable-margin-left($start-font-size, $start-screen-width, $end-font-size, $end-screen-width) {
    margin-left: calc((#{$start-font-size}/10 * 1rem) + (100vw - (#{$start-screen-width}*1px))*((#{$end-font-size} - #{$start-font-size})/(#{$end-screen-width} - #{$start-screen-width})));
}

//variable margin-bottom
@mixin variable-margin-bottom($start-font-size, $start-screen-width, $end-font-size, $end-screen-width) {
    margin-bottom: calc((#{$start-font-size}/10 * 1rem) + (100vw - (#{$start-screen-width}*1px))*((#{$end-font-size} - #{$start-font-size})/(#{$end-screen-width} - #{$start-screen-width})));
}

//variable padding-top
@mixin variable-padding-top($start-font-size, $start-screen-width, $end-font-size, $end-screen-width) {
    padding-top: calc((#{$start-font-size}/10 * 1rem) + (100vw - (#{$start-screen-width}*1px))*((#{$end-font-size} - #{$start-font-size})/(#{$end-screen-width} - #{$start-screen-width})));
}

//variable padding-left
@mixin variable-padding-left($start-font-size, $start-screen-width, $end-font-size, $end-screen-width) {
    padding-left: calc((#{$start-font-size}/10 * 1rem) + (100vw - (#{$start-screen-width}*1px))*((#{$end-font-size} - #{$start-font-size})/(#{$end-screen-width} - #{$start-screen-width})));
}

//variable padding-bottom
@mixin variable-padding-bottom($start-font-size, $start-screen-width, $end-font-size, $end-screen-width) {
    padding-bottom: calc((#{$start-font-size}/10 * 1rem) + (100vw - (#{$start-screen-width}*1px))*((#{$end-font-size} - #{$start-font-size})/(#{$end-screen-width} - #{$start-screen-width})));
}

//variable padding
@mixin variable-padding($start-font-size, $start-screen-width, $end-font-size, $end-screen-width) {
    padding: calc((#{$start-font-size}/10 * 1rem) + (100vw - (#{$start-screen-width}*1px))*((#{$end-font-size} - #{$start-font-size})/(#{$end-screen-width} - #{$start-screen-width})));
}

//variable width
@mixin variable-width($start-font-size, $start-screen-width, $end-font-size, $end-screen-width) {
    width: calc((#{$start-font-size}/10 * 1rem) + (100vw - (#{$start-screen-width}*1px))*((#{$end-font-size} - #{$start-font-size})/(#{$end-screen-width} - #{$start-screen-width})));
}