///////////////
// variables //
///////////////

// color palette
$primary: #FFFFFF;
$secondary: #FF8327;
$black: #111010;
$dark-red: #220303;
$rust-red: rgb(59, 49, 49);

// font family
$font-primary: "Chathura", sans-serif;
$font-secondary: "Tulpen One", cursive;


////////////
// mixins //
////////////

//variable font size
